<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Dropdown Multiple Selection</title>
    <link rel="stylesheet" href="static/css/dropdown.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="static/script/dropdown.js" defer></script>
</head>
<body>
    <div class="container mt-3">
        <div class="dropdown-multiselect">
            <button class="btn btn-light btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                TYPE FICHIER
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <label><input type="checkbox" value="PDF"> PDF</label>
                <label><input type="checkbox" value="XLSX"> XLSX</label>
                <label><input type="checkbox" value="JPEG"> JPEG</label>
            </div>
        </div>
    </div>

    
</body>
</html>
